@tailwind base;
@tailwind components;
@tailwind utilities;

/* button {
    @apply bg-gray-950 text-white px-4 py-2 !important;
}

button:disabled {
    @apply bg-gray-500 !important;
} */

table {
    border-collapse: collapse;
}

table > thead > tr > th, table > tbody > tr > td {
    border: 1px solid black;
    padding: 0.1em 0.75em;
}